<%= form_for(@audition) do |f| %>
  <% if @audition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audition.errors.count, "error") %> prohibited this audition from being saved:</h2>

      <ul>
      <% @audition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :post_date %><br>
    <%= f.date_select :post_date %>
  </div>
  <div class="field">
    <%= f.label :audition_date %><br>
    <%= f.text_field :audition_date %>
  </div>
  <div class="field">
    <%= f.label :audition_start %><br>
    <%= f.date_field :audition_start %>
  </div>
  <div class="field">
    <%= f.label :audition_end %><br>
    <%= f.date_field :audition_end %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.select "company_id", options_from_collection_for_select(@companies, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :equity %><br>
    <%= f.check_box :equity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
