<div class="audition_counter">
  <ul>
    <li class="all active">All Auditions<span><%= Audition.count %></span></li>
    <li class="equityyes">Equity Auditions<span><%= @equity_count %></span></li>
    <li class="equityno">Non-Equity Auditions<span><%= @non_eq_count %></span></li>
  </ul>
</div>


<div class="audition_list">
  <% @auditions.each do |audition| %>
  <div class="oneaudition <%= audition.equity %>">
    <% if actor_signed_in? %>
      <%= form_for(@submission) do |f| %>
        <%= f.hidden_field :actor_id, :value => current_actor.id %>
        <%= f.hidden_field :audition_id, :value => audition.id %>
        <h2><%= f.submit '✔︎ Submit', :confirm => "Submit for this audition?" %><span><span><%= link_to audition.name, audition %></span> - <%= link_to audition.company.name, audition.company %></span></h2>
      <% end %>
    <% else %>
      <h2><button type="button"><%= link_to '✔︎ Submit'.html_safe, new_actor_session_path %></button><span><span><%= link_to audition.name, audition %></span> - <%= link_to audition.company.name, audition.company %></span></h2>
    <% end %>
    <div class="eqstatus">
      <% if audition.equity == true %>
        <h3 class="eq"><i class="fa fa-star"></i> Equity</h3>
      <% else %>
        <h3 class="eq"><i class="fa fa-star-o"></i> Non-Equity</h3>
      <% end %>
    </div>
    <h3 class="date">Audition Date: <%= audition.audition_start.strftime("%D") %> - <%= audition.audition_end.strftime("%D") %></h3>
    <p><%= audition.description %></p>
  </div>
    <% end %>
</div>
