<h1>Listing auditions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Post date</th>
      <th>Audition date</th>
      <th>Description</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @auditions.each do |audition| %>
      <tr>
        <td>
          <% if actor_signed_in? %>
            <%= form_for(@submission) do |f| %>
              <%= f.hidden_field :actor_id, :value => current_actor.id %>
              <%= f.hidden_field :audition_id, :value => audition.id %>
              <%= f.submit %>
            <% end %>
          <% else %>
            <button type="button"><%= link_to "Create Submission", new_actor_session_path %></button>
          <% end %>
        </td>
        <td><%= link_to audition.name, audition %></td>
        <td><%= audition.post_date %></td>
        <td><%= audition.audition_date %></td>
        <td><%= audition.description %></td>
        <td><%= link_to audition.company.name, audition.company %></td>
        <td><%= audition.equity_status %></td>
        <td><%= link_to 'Edit', edit_audition_path(audition) %></td>
        <td><%= link_to 'Destroy', audition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audition', new_audition_path %>
