<p id="notice"><%= notice %></p>

<div class="auditionshow">

<%= image_tag @audition.company.logo %>

<div class="auditioncontent">
<p>
  <%= @audition.name %> : <%= link_to @audition.company.name, @audition.company %>
</p>

<p>
  Posted <%= time_ago_in_words(@audition.created_at) %> ago
</p>

    <% if @audition.equity == true %>
        <h3 class="eq"><i class="fa fa-star"></i> Equity</h3>
    <% else %>
        <h3 class="eq"><i class="fa fa-star-o"></i> Non-Equity</h3>
    <% end %>

<p>
Audition Date: <%= @audition.audition_start.strftime("%D") %> - <%= @audition.audition_end.strftime("%D") %>
<p>
  <%= @audition.description %>
</p>
</div>

<%= link_to "Submissions", submissions_url(audition_id: @audition.id) %>

          <% if actor_signed_in? %>
            <%= form_for(@submission) do |f| %>
              <%= f.hidden_field :actor_id, :value => current_actor.id %>
              <%= f.hidden_field :audition_id, :value => params[:audition_id] %>
              <%= f.submit %>
            <% end %>
          <% end %>

</div>

