<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @audition.name %>
</p>

<p>
  <strong>Post date:</strong>
  <%= @audition.post_date %>
</p>

<p>
  <strong>Audition date:</strong>
  <%= @audition.audition_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @audition.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @audition.company.name %>
</p>

<p>
  <%= @audition.equity_status %>
</p>

<%= link_to "Submissions", submissions_url(audition_id: @audition.id) %>

          <% if actor_signed_in? %>
            <%= form_for(@submission) do |f| %>
              <%= f.hidden_field :actor_id, :value => current_actor.id %>
              <%= f.hidden_field :audition_id, :value => params[:audition_id] %>
              <%= f.submit %>
            <% end %>
          <% end %>

<%= link_to 'Edit', edit_audition_path(@audition) %> |
<%= link_to 'Back', auditions_path %>
