<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<%= image_tag @company.logo %>

<p>
  <strong>Auditions:</strong>
  <% @auditions.each do |audition| %>
    <h2><%= link_to audition.name, audition %></h2>
    <p><%= audition.description %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
