<!DOCTYPE html>
<html>
<head>
  <title>ChicagoStageDirection</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative|Gafata' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="nav">
  <ul class="mainnav">
    <li class="navlink"><%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_url %></li>
    <li class="navlink">About</li>
    <li class="navlink"><%= link_to 'Casting Sign In', new_associate_session_path %></li>
    <% if actor_signed_in? %>
      <li class="navlink">
        <%= link_to "Sign Out", destroy_actor_session_path, method: 'delete' %>
      </li>
    <% elsif associate_signed_in? %>
      <li class="navlink">
        <%= link_to "Sign Out", destroy_associate_session_path, method: 'delete' %>
      </li>
    <% else %>
      <li class="navlink"><span class="homesignin">
        Sign In <i class="fa fa-chevron-down rotate"></i></span>
        <ul class="homesign">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <li><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></li>
          <li><%= f.label :password %><br />
  <%= f.password_field :password %></li>
          <% if devise_mapping.rememberable? -%>
            <li><%= f.check_box :remember_me %> <%= f.label :remember_me %></li>
          <% end -%>
            <%= f.submit "Sign in" %>
          <% end %>
          <div class="actrlinks">
            <%= render "actors/shared/links" %>
          </div>
        </ul>
      </li>
    <% end %>
  </ul>
</div>



<div class="container">
  <ul class="alertz">
    <% if actor_signed_in? %>
      <li>Hello, <%= link_to current_actor.first_name, current_actor %></li>
    <% elsif associate_signed_in? %>
      <li>Hello, <%= link_to current_associate.name, current_associate %></li>
    <% end %>
    <li><%= notice %></li>
    <li><%= alert %></li>
  </ul>
<div class="banner">
  <div class="photo">
    <%= image_tag 'CSDlogo.png' %>
    <p>Bringing theatre artists together to make great art</p>
  </div>
</div>

<%= yield %>

</div>

</body>
</html>
