<!DOCTYPE html>
<html>
<head>
  <title>StageDirection</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative|Gafata' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="nav">
  <ul>
    <li><%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_url %></li>
    <li>About</li>
    <li><%= link_to 'Affiliated Companies', companies_url %></li>
    <% if actor_signed_in? %>
      <li>
        <%= link_to "Sign Out", destroy_actor_session_path, method: 'delete' %>
        <ul>
          <li>Hello, <%= link_to current_actor.first_name, edit_actor_registration_path %></li>
          <li><%= notice %></li>
          <li><%= alert %></li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to 'Sign In', new_actor_session_path %>
        <ul>
          <li><%= notice %></li>
          <li><%= alert %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class="container">
<div class="banner">
  <div class="photo">
    <%= image_tag 'CSDlogo.png' %>
  </div>
</div>

<%= yield %>

</div>

</body>
</html>
